## Configuración Node (Express)
APP_URL=http://localhost
APP_PORT=3000

## Configuración Base de Datos (PostgreSQL)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=iron_fiber_gym

## Configuración Base de Datos (Redis)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
